*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Common */
html{
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
}

body{
    background-color: white;
}

.container{
    width:70%;
    margin: 0 auto;

}
/* header */
header{
    margin-bottom:2em;
}

.header-container{
    text-align: center;
}

.header-container > h1{
    color: mediumseagreen;
    margin-bottom: 2rem;
}

/* grid */

.col-container{
    background-color: black;
    color: white;
    margin-bottom: 3rem;
}

.col{
    width: calc(100% / 3);
    float: left;

 }

/* .col:last-of-type{
    margin:0;
} */

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.col > img {
    height: 7rem ;
    float: left;
}


.option > *{
    padding: .5rem;
}






